
.footer {
    margin-top: 10%;
    margin-left: 45%;
    justify-content: space-between;
    align-items: center;

  


  }
  
  .tw {
    font-size: 2.6rem;
    padding: 10%;
    color: #f0edf1;

  }
  
  .fac {
    font-size: 2.6rem;
    padding: 10%;
    color: #fdfaff;
  }
  
  .inst {
    font-size: 2.6rem;
    padding: 10%;
    color: #f1ecf3;
  }
  
  .mail {
    font-size: 2.6rem;
    padding: 10%;
    color: #f4f1f5;
  }


  @media(max-width:1005px){
    .tw {
      font-size: 1.5rem;
     
  
    }
    
    .fac {
      font-size: 1.5rem;
      
    }
    
    .inst {
      font-size: 1.5rem;
     
    }
    
    .mail {
      font-size: 1.5rem;
     
    }

    .copyRight {
      font-size: 0.5rem;
     
    }


  }
  
  .copyRight {
    font-size: 1rem;
    color: white;
  }
  
  